<!--<mat-form-field style="margin: 20px;">-->
<!--<mat-select placeholder="Ciudad">-->
<!--<mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>-->
<!--</mat-select>-->
<!--</mat-form-field>-->

<table class="table">
  <thead>
  <tr>
    <th></th>
    <th>
      <mat-form-field>
        <input matInput placeholder="BUSCAR" [(ngModel)]="find">
      </mat-form-field>
    </th>
  </tr>
  <tr>
    <th scope="col"></th>
    <th scope="col">CEDULA</th>
    <th scope="col">NOMBRE</th>
    <th scope="col">APELLIDO</th>
    <th scope="col">TELEFONO 1</th>
    <th scope="col">TELEFONO 2</th>
    <th scope="col">DIRECCION</th>
    <th scope="col">CIUDAD</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mobile of mobiles">
    <td>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="EDIT">edit</mat-icon>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="DELETE">delete</mat-icon>
      </button>
    </td>
    <td>
      {{mobile.identification}}
    </td>
    <td>
      {{mobile.names}}
    </td>
    <td>
      {{mobile.last_names}}
    </td>
    <td>
      {{mobile.phone1}}
    </td>
    <td>
      {{mobile.phone2}}
    </td>
    <td>
      {{mobile.address}}
    </td>
    <td>
      {{mobile.city.name}}
    </td>


  </tr>
  </tbody>
</table>
