<form [formGroup]="form" (ngSubmit)="changePassword()">
  <div class="row">
    <mat-form-field class="col-sm-12">
      <input matInput type="password" placeholder="Contraseña actual" name="password"
             formControlName="password" [maxlength]="30">
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <input matInput type="password" placeholder="Nueva contraseña" name="new_password"
             formControlName="new_password" [maxlength]="30">
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <input matInput type="password" placeholder="Repita la nueva contraseña" name="new_password2"
             formControlName="new_password2" [maxlength]="30">
    </mat-form-field>

    <button mat-raised-button color="accent" class="col-sm-12" type="submit">Cambiar contraseña</button>
  </div>


</form>
